@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<p>
    Shop Name:    Easy buy
    <br />
    Shop Address: Easy buy,<br />
                  No-12,Mingles Road,<br />
                  Dindigul-624232.<br />
    telephone:    0451-124524.<br />
    Email Address:easybuy1213@gmail.com<br />
</p>